@media screen and (max-width:575px) {
  .font_size
  {
    font-size: 25px !important;
  }
}
@media screen and (min-width:575px) and (max-width:767px) {
  .font_size
  {
    font-size: 30px !important;
  }
}
@media screen and (min-width:768px) and (max-width:991px) {
  .font_size
  {
    font-size: 35px !important;
  }
}
@media screen and (min-width:992px) and (max-width:1199px) {
  .font_size
  {
    font-size: 40px !important;
  }
}
@media screen and (min-width:1200px) and (max-width:1399px) {
  .font_size
  {
    font-size: 45px !important;
  }
}
@media screen and (min-width:1400px) {
  .font_size
  {
    font-size: 50px !important;
  }
}
/* --------------------------------------------- */
.location_hover
{
  text-decoration: none;
  color: white;
}
.location_hover:hover
{
  transition: .3s;
  color: #FF9816;
}
::selection
{
  background-color: #282c34;
  color: #FF9816;
}
/* --------------------------------------------- */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
